*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cards{
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: space-around;
}
.card{
    background-color: antiquewhite;
    height: auto;
    width: 250px;
    border-radius: 20px;
    padding: 15px;
}